<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Administrador</servlet-name>
        <servlet-class>Modelo.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorBD</servlet-name>
        <servlet-class>Modelo.UsuarioBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>URLS</servlet-name>
        <servlet-class>Controlador.URLS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConexionBD</servlet-name>
        <servlet-class>Modelo.ConexionBD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Administrador</servlet-name>
        <url-pattern>/Administrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorBD</servlet-name>
        <url-pattern>/AdministradorBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>URLS</servlet-name>
        <url-pattern>/URLS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConexionBD</servlet-name>
        <url-pattern>/ConexionBD</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
